<!DOCTYPE html>
<html>
  <head>
    <title>WebAplikacija</title>

    <%= csrf_meta_tags %>
  </head>

  <body>
<%= render '/layouts/nav' %>

<div class="container">
<span class="notice"><%= notice %></span>
<span class="alert"><%= alert %></span>
<%= yield %>
</div>

  </body>
</html>
